.eudiw-logo {
    min-width: 150px;
    min-height: 150px;
}

.qr-code {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}

.credentials-offer-uri {
    word-break: break-all;
}