version: '3.8'

volumes:
  postgres_data:
    driver: local

networks:
  default:
    driver: bridge

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - default
    ports:
      - "0.0.0.0:5432:5432"
    healthcheck:
      test: "exit 0"
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password

  keycloak:
    image: quay.io/keycloak/keycloak:nightly
    container_name: keycloak
    command:
      - start
      - --import-realm
      - --http-port=8080
      - --hostname-url=https://keycloak.local
      - --proxy=edge
    environment:
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
      - KC_DATABASE=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=password
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=password
      - JAVA_OPTS_APPEND=-Dkeycloak.profile.feature.upload_scripts=enabled
      - PRINT_ENV=true
    healthcheck:
      test: "bash /opt/keycloak/health-check.sh"
      interval: 5s
      timeout: 10s
      retries: 12
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./keycloak-extra/health-check.sh:/opt/keycloak/health-check.sh
      - ./keycloak-extra/etc/pki/ca-trust/extracted/java/cacerts:/etc/pki/ca-trust/extracted/java/cacerts
      - ./keycloak-realms/:/opt/keycloak/data/import
      - ./realm/:/opt/keycloak/data/import
    networks:
      - default

  haproxy:
    image: haproxy:2.8.3
    container_name: haproxy
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      keycloak:
        condition: service_healthy
    volumes:
      - ./haproxy/haproxy.conf:/usr/local/etc/haproxy/haproxy.cfg
      - ./haproxy/certs/:/etc/ssl/certs/
    networks:
      - default
