<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          href="../public/css/main.css"
          th:href="@{/public/css/main.css}">
    <title th:text="#{eudiw} + ' :: ' + #{issue-credentials}">EU Digital Identity Wallet :: Issue Credentials</title>
</head>
<body>
<main>
    <div class="container p-4">
        <div class="row gy-2 mb-4">
            <div class="col d-flex justify-content-start align-items-center">
                <img class="eudiw-logo"
                     src="../public/img/eudiw-logo.svg"
                     th:src="@{/public/img/eudiw-logo.svg}"
                     alt="EU Digital Identity Wallet"
                     th:alt="#{eudiw}"/>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <h2 th:text="#{issue-credentials}">Issue Credentials</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <h4 th:text="#{scan-qr-code-to-issue-credentials} + ':'">
                    Scan the generated QR Code to issue the requested Credentials:
                </h4>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col d-flex justify-content-center align-content-center">
                <!--/*@thymesVar id="qrCode" type="kotlin.String"*/-->
                <!--/*@thymesVar id="qrCodeMediaType" type="kotlin.String"*/-->
                <img class="qr-code"
                     src="../public/img/sample-qr-code.png"
                     th:src="'data:' + ${qrCodeMediaType} + ';base64,' + ${qrCode}"
                     alt="QR Code"
                     th:alt="#{qr-code}"/>
            </div>
        </div>
        <!--/*@thymesVar id="uri" type="kotlin.String"*/-->
        <div class="row mb-2 p-2">
            <div class="col d-flex justify-content-center align-content-center">
                <p>
                    <span th:text="#{alternatively-you-can-click}">Alternatively you can click this</span>
                    <a href="https://netcompany-intrasoft.com"
                       th:href="${uri}"
                       th:text="#{link}">Link</a>
                </p>
            </div>
        </div>
        <div class="mb-2">
            <div class="row">
                <div class="col d-flex justify-content-center align-content-center">
                    <p><span th:text="#{or-copy-the-link-below}">Or copy the link below</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-content-center">
                    <code class="credentials-offer-uri" th:text="${uri}">https://netcompany-intrasoft.com</code>
                </div>
            </div>
        </div>
        <div class="row">
            <!--/*@thymesVar id="openid4VciVersion" type="kotlin.String"*/-->
            <div class="col d-flex justify-content-start align-content-center"
                 th:unless="${#strings.isEmpty(openid4VciVersion)}">
                <p><span th:text="#{openid4vci-version(${openid4VciVersion})}">OpenId4VCI Version</span></p>
            </div>
            <div class="col d-flex justify-content-end align-content-center">
                <a class="btn btn-warning"
                   href=""
                   th:href="@{/issuer/credentialsOffer/generate}"
                   th:text="#{go-back}">Go Back</a>
            </div>
        </div>
    </div>
</main>
<script type="application/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
</script>
</body>
</html>