<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          href="../public/css/main.css"
          th:href="@{/public/css/main.css}">
    <title th:text="#{eudiw} + ' :: ' + #{unable-to-generate-credentials-offer}">EU Digital Identity Wallet :: Unable to
        Generate Credentials Offer</title>
</head>
<body>
<main>
    <div class="container p-4">
        <div class="row gy-2 mb-4">
            <div class="col d-flex justify-content-start align-items-center">
                <img class="eudiw-logo"
                     src="../public/img/eudiw-logo.svg"
                     th:src="@{/public/img/eudiw-logo.svg}"
                     alt="EU Digital Identity Wallet"
                     th:alt="#{eudiw}"/>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <h2 th:text="#{unable-to-generate-credentials-offer}">Unable to Generate Credentials Offer</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <h4 th:text="#{credentials-offer-could-not-be-generated-due-to} + ':'">
                    The Credentials Offer could not be generated due to the following errors:
                </h4>
            </div>
        </div>
        <div class="row mb-2 p-2 bg-secondary-subtle">
            <div class="col">
                <!--/*@thymesVar id="error" type="kotlin.String"*/-->
                <p th:text="#{${error}}">Error</p>
            </div>
        </div>
        <div class="row">
            <!--/*@thymesVar id="openid4VciVersion" type="kotlin.String"*/-->
            <div class="col d-flex justify-content-start align-content-center"
                 th:unless="${#strings.isEmpty(openid4VciVersion)}">
                <p><span th:text="#{openid4vci-version(${openid4VciVersion})}">OpenId4VCI Version</span></p>
            </div>
            <div class="col d-flex justify-content-end align-content-center">
                <a class="btn btn-warning"
                   href=""
                   th:href="@{/issuer/credentialsOffer/generate}"
                   th:text="#{go-back}">Go Back</a>
            </div>
        </div>
    </div>
</main>
<script type="application/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
</script>
</body>
</html>