<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          href="../public/css/main.css"
          th:href="@{/public/css/main.css}">
    <title th:text="#{eudiw} + ' :: ' + #{generate-new-credentials-offer}">EU Digital Identity Wallet :: Generate new
        Credentials Offer</title>
</head>
<body>
<main>
    <div class="container p-4">
        <div class="row gy-2 mb-4">
            <div class="col d-flex justify-content-start align-items-center">
                <img class="eudiw-logo"
                     src="../public/img/eudiw-logo.svg"
                     th:src="@{/public/img/eudiw-logo.svg}"
                     alt="EU Digital Identity Wallet"
                     th:alt="#{eudiw}"/>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <h2 th:text="#{generate-new-credentials-offer}">Generate new Credentials Offer</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <h4 th:text="#{please-select-credentials-to-issue} + ':'">Please select the Credentials you would like
                    to issue:</h4>
            </div>
        </div>
        <div class="row mb-2 p-2 bg-secondary-subtle">
            <div class="col">
                <form id="generate-credential-offer-form"
                      method="post"
                      enctype="application/x-www-form-urlencoded"
                      th:action="@{/issuer/credentialsOffer/generate}">
                    <fieldset>
                        <div class="form-label mb-2" th:text="#{credentials}">Credentials</div>
                        <!--/*@thymesVar id="credentialIds" type="kotlin.collections.Set"*/-->
                        <div class="form-check mb-2" th:each="credentialId,iteration : ${credentialIds}">
                            <input class="form-check-input" type="checkbox" name="credentialIds"
                                   value="id1" th:value="${credentialId}"
                                   id="credentialId-1" th:id="'credentialId-' + ${iteration.index}">
                            <label class="form-check-label"
                                   for="credentialId-1" th:for="'credentialId-' + ${iteration.index}"
                                   th:text="${credentialId}">credential-1</label>
                        </div>
                        <!--/*@thymesVar id="credentialsOfferUri" type="kotlin.String"*/-->
                        <div class="mt-4 mb-2">
                            <label for="credentialsOfferUri" class="form-label">Credentials Offer URI</label>
                            <input class="form-control" type="text"
                                   name="credentialsOfferUri" id="credentialsOfferUri"
                                   placeholder="eudi-openid4ci://" th:placeholder="${credentialsOfferUri}"
                                   value="eudi-openid4ci://" th:value="${credentialsOfferUri}">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row mb-2 p-2">
            <!--/*@thymesVar id="openid4VciVersion" type="kotlin.String"*/-->
            <div class="col d-flex justify-content-start align-content-center"
                 th:unless="${#strings.isEmpty(openid4VciVersion)}">
                <p><span th:text="#{openid4vci-version(${openid4VciVersion})}">OpenId4VCI Version</span></p>
            </div>
            <div class="col d-flex justify-content-end align-content-center">
                <button type="submit" class="btn btn-primary" form="generate-credential-offer-form"
                        th:text="#{generate}">Generate
                </button>
            </div>
        </div>
        <!--/*@thymesVar id="usefulLinks" type="kotlin.collections.Map<kotlin.String, kotlin.String>"*/-->
        <div class="row" th:unless="${usefulLinks.empty}">
            <div class="col">
                <h4 th:text="#{useful-links} + ':'">Useful links: </h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{description}">Description</th>
                        <th scope="col" th:text="#{url}">URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usefulLinks : ${usefulLinks}">
                        <td th:text="#{${usefulLinks.key}}">Link</td>
                        <td><a th:href="${usefulLinks.value}" th:text="${usefulLinks.value}" target="_blank">https://localhost</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script type="application/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
</script>
</body>
</html>