name: CI
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:

permissions:
  contents: read
  packages: read

jobs:
  build-gradle:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle Wrapper
        run: ./gradlew build --full-stacktrace

